* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1f2500;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-me-conteiner {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}

.contacts-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.contacts-link-phone {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  text-decoration: none;
  opacity: 0.5;
}
.contacts-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  opacity: 0.5;
}

.contacts-link-type {
  color: #dddfe1;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tech-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 55px;
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech-skills-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}
.tech-skills-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  height: 11px;
  color: #dddfe1;
}

.soft-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 55px;
}

.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.soft-skills-item {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}

.soft-skills-text {
  width: 47px;
  height: 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #dddfe1;
}

.profession {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.name {
  font-size: 45px;
  font-weight: 700;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 65px;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-items {
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
}

.projects-link {
  color: #838383;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.tech-name {
  color: #838383;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #bebebe;
  font-weight: 100;
}

.projects-container {
  margin-bottom: 50px;
}

.about-me-title-1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.about-me-title-educ {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 55px;
}

.name-of-job {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.color-of-company {
  color: #ff6b08;
}

.how-long-work {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
}

.profdif {
  width: 1px;
  height: 14px;
  color: #000000;
}

.margin-duties {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 90px;
}

.profession-duties-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.managment {
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}
